.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main{
  min-height: 90vh;
  background-color: aquamarine;
}

#board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  gap: 1px;
  padding: 20px;
}

.tile {
  --grid-size: 100px;
  outline: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--grid-size);
  height: var(--grid-size);
  font-size: 36px;
  user-select: none;
  z-index: 1;
}

.tile:hover {
  outline: 2px solid blue;
  z-index: 2;
}

.tile.filled:hover {
  outline: 2px solid red;
  z-index: 2;
}

.reset:hover{
  background-color:deepskyblue;
}
